blog/migrations/__pycache__/0002_auto_20210726_1549.cpython-38.pyc
media/18101104063_Data_Mining_Ashis_Ghosh.pdf
media/18101104063_Data_Mining_Ashis_Ghosh_Ne6dTql.pdf
media/18101104063_Data_Mining_Ashis_Ghosh_PFy2tyo.pdf
media/18101104063_Data_Mining_Ashis_Ghosh_QP7KjwO.pdf
media/18101104063_Data_Mining_Ashis_Ghosh_e8cy1gH.pdf
media/18101104063_Data_Mining_Ashis_Ghosh_mhIWbjb.pdf
media/18101104063_Data_Mining_Ashis_Ghosh_r9OCW1I.pdf
media/5_6201880205024297266.pdf
media/amitava ray.jpg
media/data_communication_computer_network_tutorial_07ooHRY.pdf
student_management_app/migrations/__pycache__/0002_auto_20210726_1628.cpython-38.pyc
