{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Delete Post
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Delete Post</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                 <form role="form" action="{{ action_path }}" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <h2>Are you want to delete the post?</h2>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-danger">Yes</button>
                    </div>
                  </form> 
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
