{% extends 'base_template.html' %}
{% block page_title %}
Edit Subject | Subject ID : {{ subject.id }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Subject</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'edit_subject_save' %}" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Subject Name </label>
                    <input type="text" class="form-control" name="subject_name" placeholder="Enter Subject" value="{{ subject.subject_name }}">
                    <input type="hidden" class="form-control" name="subject_id" placeholder="Enter Subject" value="{{ subject.id }}">
                  </div>
                   <div class="form-group">
                    <label>DepartMent </label>
                    <select class="form-control" name="department">
                        {% for dept in departments %}
                              <option value="{{ dept.id }}" {% if dept.id == subject.dept_id.id %} selected {% endif %}>{{ dept.dept_name }}</option>
                        {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Session Year</label>
                    <select class="form-control" name="session" value="{{subject.session_year.id}}">
                        {% for session in session_years %}
                          <option value="{{ session.id }}">{{ session.session_start_year }} <span>-</span> {{ session.session_end_year }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">

                    <label>Staff</label>
                     <select class="form-control" name="staff" value="{{subject.staff_id.user}}">
                        {% for staff in staffs %}
                          <option value="{{ staff.id }}">{% if staff.first_name%}{{ staff.first_name }} {{ staff.last_name }}{% else %}{{staff}}{% endif %}</option>
                        {% endfor %}
                      
                    </select>
                  </div>
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Subject</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

